.food__sidebar {
}
.food__sidebar h4 {
  color: #df2020;
}
.category__list {
  margin: 1.5rem 0;
}
.category__list li {
  cursor: pointer;
  color: #868686;
  margin: 5px 0px;
  /* font-size: 0.9rem; */
  line-height: 1.75;
  padding-left: 15px;
}
.category__list li:hover {
  color: #000;
}
.search__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  margin-top: 15px;
}
.search__box input {
  /* width: 100%; */
  border: 0;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.search__box input::placeholder {
  font-size: 0.9rem;
}
.search__box span {
  line-height: 1;
  padding: 8px 12px;
}

.select {
  position: relative;
}

.select select {
  width: 100%;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  padding: 7px;
  font-size: 0.9rem;
  -webkit-appearance: none;
  background-position-x: 244px;
  outline: none;
  cursor: pointer;
}
.select::before {
  content: '';
  position: absolute;
  top: 6px;
  right: 15px;
  width: 18px;
  height: 16px;
  background: url(../assets/images/arrow-down-s-fill.png) no-repeat;
}
