.slick-slide img {
  display: inline-block !important;
}
.slick-slide {
  padding: 0 10px;
}
.slick-dots li.slick-active button:before {
  color: #df2020;
}
.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important ;
  background-color: #df2020 !important;
  z-index: 10;
  border-radius: 50%;
}

.slick-next {
  right: -10px !important;
}
.slick-prev {
  left: -10px !important;
}
