.product__item {
  text-align: center;
  padding: 30px 20px;
  border: 1px solid #feced2;
  cursor: pointer;
  border-radius: 5px;
}
.product__item img {
  transition: 0.4s;
}
.product__item img:hover {
  transform: scale(1.2);
}
.product__content h5 {
  margin-top: 1rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.addToCart__btn:hover {
  border: 1px solid #df2020;
}
