.quickview__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.quickview__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  max-width: 90vw;
  height: 460px;
  z-index: 30;
  background-color: #fff;
  display: flex;
}
.quickview__group {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
}

.quickview__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quickview__img-group img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.quickview__img img {
  width: 50%;
  object-fit: contain;
}
.quickview__img-group {
  margin-top: 10px;
}
.quickview__info {
  width: 40%;
  background-color: #f4f4ff;
  padding: 30px;
}
.quickview__review {
  margin-top: 20px;
}
.quickview__badge {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.badge__starrating i {
  color: #ffc107;
}
.badge__caption {
  color: #868686;
  font-size: 1rem;
}
.quickview__title {
  font-size: 2rem;
  margin: 10px 0 18px;
  line-height: 35px;
}
.quickview__price {
  font-size: 1.2rem;
  color: #cb8161;
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
.quickview__button {
  margin-top: 30px;
  line-height: 1;
}
.quickview__button span {
  color: #868686;
  font-size: 1rem;
  width: 20px;
  text-align: center;
}
.quickview__button-group {
  margin-top: 15px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.quickview__button-group button {
  padding: 10px;
}
.quickview__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #6d6969;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
}

.wish__btn.favorite .ri-heart-line:before {
  content: '\ee0e';
  color: #df2020;
}

@media screen and (max-width: 768px) {
  .quickview__container {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .quickview__info {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
  .quickview__badge {
    justify-content: center;
  }
  .quickview__group {
    width: 100%;
    padding: 15px 0px;
  }
}
@media screen and (max-width: 576px) {
  .quickview__img-group img {
    width: 70px;
    height: 70px;
  }
  .quickview__review {
    margin-top: 0;
  }
}
