.quickview.hide {
  display: none;
}
.quickview__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.quickview__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 460px;
  z-index: 30;
  background-color: #fff;
  display: flex;
}
.quickview__img {
  width: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.quickview__img img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}
.quickview__info {
  width: 40%;
  background-color: #f4f4ff;
  padding: 30px;
}
.quickview__review {
  margin-top: 20px;
}
.quickview__badge {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.badge__starrating i {
  color: #ffc107;
}
.badge__caption {
  color: #868686;
  font-size: 14px;
}
.quickview__title {
  font-size: 30px;
  margin: 10px 0 18px;
  line-height: 35px;
}
.quickview__price {
  font-size: 22px;
  color: #cb8161;
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
.quickview__button {
  margin-top: 30px;
  line-height: 1;
}
.quickview__button span {
  color: #868686;
  font-size: 14px;
  width: 20px;
  text-align: center;
}
.quickview__button-group {
  margin-top: 15px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.quickview__button-group button {
  padding: 10px;
}
.quickview__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #6d6969;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
}
